/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/


input{
    font-size:0.6rem;
}
.form-control:not(select) {
    padding: 1.2rem 0.5rem;
}

select.form-control {
    height: 42px;
    padding-left: 0.3rem;
}

.form-control::placeholder {
    color: #ccc;
    
    font-size: 0.8rem;
}
.form-control:focus {
    box-shadow: none;
}


.customradio{
    display: none !important;
    background-image: linear-gradient(to top,#969696,#727272);
    box-shadow: inset 0 1px 6px rgba(41, 41, 41, 0.2),
                      0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: default;
    color: #E6E6E6;
    border-color: transparent;
    text-shadow: 0 1px 1px rgba(40, 40, 40, 0.75);
}
.joinbtn{
    background-color:#6c63ff !important;
    color:white  !important;
}
.passbtn{
    background-color:#403d56 !important;
    color:white  !important;
}