.navbar-light .navbar-brand {
    background: #fff;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 1;
}
.navbar-light{
    background-color:#fff;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #000 !important;
    font-weight:700;
}

.navbar-toggler {
    background: #fff;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus{
    color: #fff;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}
.navbar-light .navbar-nav > .joinBtn {
    background-color:#A845ED;
    border-color:#fff;
    font-size:0.85rem;
    font-family:'gmarket-700'

}
.navbar-light .navbar-nav > .joinBtn:hover {
    background-color:#FF7000 !important;
    border-color:#fff;
    font-size:0.85rem;
    font-family:'gmarket-700'

}

.navbar-light .navbar-nav > .loginBtn {
    background-color:#4C45ED !important;
    border-color:#fff;
    font-size:0.85rem;
    font-family:'gmarket-700'
}
.navbar-light .navbar-nav > .loginBtn:hover {
    background-color:#FF7000 !important;
    border-color:#fff;
    font-size:0.85rem;
    font-family:'gmarket-700'
}


.sub-nav > .nav-link{
    font-size:0.85rem;
}
