.findjobroot{
  font-family: "gmarket-700";
}

.joblist{
  border:1px solid #f2f4f7;
  border-radius: 10px;
  padding:1rem;
  box-shadow: 20px 10px #000;
  
}
.joblist > img{
  float: left;
  height:3rem;
  width: 3rem;
  object-fit:cover;
  margin-right:2rem;

}
.jobList > .article{
  float:right;
}
.articleheader{
  font-size:1.0rem;
}
.articlewriter{
  position:absolute;
  bottom:0.5rem;
  right:0.5rem;
}
.articlewriter > img{
  float:left;
  width:1.5rem;
  height:1.5rem;
  border-radius: 20px;
}
.articlewritercontents{
  float:right;
  margin-left:0.3rem;
}

.articlewritercontents > p{
  font-size:0.9rem;
  margin-top:1px;
  margin-bottom: 1px;
}

.articlesubheader{
font-family: 'gmarket-500';
font-size:0.8rem;
}

h1,h2,h3,h4,h5{
  font-family: "gmarket-700";
}
h6,h7,p{
  font-family: "gmarket-300";
}
.container{
  margin:0;
  padding:0;
}

label.btn:not(.btn-flat) { 
    background-color: #fff;
    font-weight:700;
    border:1px solid #000;
    font-family: "eland-300";

  }
label.btn-flat{ 
    margin-left:3px;
    margin-right:3px;
    background-color: #f2f4f7;
    border:none;
    font-weight:300;
    font-family: "eland-300";
}
.slick-prev:before, .slick-next:before{
  color:#000 !important;
}
  input{
    opacity: 0;
    width:0;
    height:0;
  }

  .mapRow{

  }