body {
    padding: 0;
    margin: 0 0 0 0;
}

.hello{
    margin-top:7rem;
}


/********
 별 뿌리기 효과
**********/

.hero {
    display: inline-block;
    width: 100%;
    height: 1000px;
    position: absolute;
}

.diagonal-hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: none;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: -2;
    /*clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);*/
    clip-path: ellipse(50% 60% at 0 20%);
}

.stars {
    z-index: -1;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background-color:#fff;
    transition: opacity 1s ease-in-out;
}

.stars > .small {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 226px 197px #767676 , 1488px 1972px #767676 , 1541px 473px #767676 , 625px 1505px #767676 , 860px 476px #767676 , 1612px 743px #767676 , 536px 515px #767676 , 692px 964px #767676 , 410px 438px #767676 , 100px 735px #767676 , 1832px 1389px #767676 , 933px 32px #767676 , 142px 749px #767676 , 1501px 2000px #767676 , 710px 820px #767676 , 1141px 1369px #767676 , 749px 114px #767676 , 139px 656px #767676 , 196px 1252px #767676 , 1449px 1437px #767676 , 1754px 185px #767676 , 14px 1255px #767676 , 38px 143px #767676 , 1139px 581px #767676 , 1613px 1403px #767676 , 237px 1857px #767676 , 828px 1218px #767676 , 981px 1705px #767676 , 297px 1082px #767676 , 1673px 148px #767676 , 914px 996px #767676 , 349px 448px #767676 , 761px 29px #767676 , 1474px 1863px #767676 , 569px 1645px #767676 , 130px 1441px #767676 , 285px 1689px #767676 , 651px 817px #767676 , 1492px 881px #767676 , 1183px 1452px #767676 , 702px 1140px #767676 , 844px 744px #767676 , 811px 1182px #767676 , 1288px 748px #767676 , 1415px 188px #767676 , 1873px 1508px #767676 , 787px 827px #767676 , 1172px 1630px #767676 , 1057px 808px #767676 , 548px 245px #767676 , 958px 743px #767676 , 609px 481px #767676 , 1417px 338px #767676 , 1002px 428px #767676 , 1828px 1887px #767676 , 1072px 501px #767676 , 1059px 1576px #767676 , 552px 329px #767676 , 1803px 413px #767676 , 1646px 723px #767676 , 1182px 1720px #767676 , 1849px 699px #767676 , 1110px 448px #767676 , 380px 1843px #767676 , 556px 1297px #767676 , 1773px 1498px #767676 , 306px 390px #767676 , 1832px 945px #767676 , 1575px 1378px #767676 , 585px 1183px #767676 , 62px 1909px #767676 , 1533px 546px #767676 , 216px 268px #767676 , 1570px 460px #767676 , 683px 347px #767676 , 1923px 1766px #767676 , 60px 913px #767676 , 843px 1945px #767676 , 290px 1881px #767676 , 671px 1135px #767676 , 1927px 1829px #767676 , 701px 969px #767676 , 1802px 351px #767676 , 238px 510px #767676 , 1877px 807px #767676 , 818px 1766px #767676 , 1503px 938px #767676 , 413px 545px #767676 , 86px 1272px #767676 , 1586px 772px #767676 , 221px 58px #767676 , 1497px 1861px #767676 , 1851px 1705px #767676 , 69px 1741px #767676 , 1475px 777px #767676 , 1514px 757px #767676 , 137px 705px #767676 , 1211px 877px #767676 , 1110px 887px #767676 , 900px 1699px #767676 , 92px 1268px #767676 , 1125px 867px #767676 , 875px 1697px #767676 , 1921px 604px #767676 , 326px 696px #767676 , 389px 1169px #767676 , 1894px 1824px #767676 , 1650px 1017px #767676 , 778px 1052px #767676 , 1148px 601px #767676 , 1276px 123px #767676 , 673px 1336px #767676 , 1622px 408px #767676 , 912px 565px #767676 , 307px 374px #767676 , 1930px 1099px #767676 , 196px 860px #767676 , 1750px 1586px #767676 , 617px 1997px #767676 , 1170px 1251px #767676 , 439px 672px #767676 , 734px 1821px #767676 , 494px 1225px #767676 , 686px 1512px #767676 , 430px 429px #767676 , 345px 1722px #767676 , 1352px 1754px #767676 , 1894px 964px #767676 , 535px 1607px #767676 , 907px 1125px #767676 , 285px 592px #767676 , 800px 1939px #767676 , 510px 1256px #767676 , 832px 1667px #767676 , 1979px 1569px #767676 , 1960px 1670px #767676 , 1347px 1909px #767676 , 462px 1694px #767676 , 1419px 1048px #767676 , 1326px 12px #767676 , 1289px 355px #767676 , 1299px 1975px #767676 , 1742px 133px #767676 , 918px 52px #767676 , 1191px 1096px #767676 , 886px 1377px #767676 , 1340px 1604px #767676 , 660px 533px #767676 , 1765px 487px #767676 , 1100px 54px #767676 , 1397px 362px #767676 , 1077px 1481px #767676 , 418px 174px #767676 , 259px 1625px #767676 , 1496px 739px #767676 , 478px 1269px #767676 , 1666px 585px #767676 , 1680px 1511px #767676 , 1248px 881px #767676 , 114px 1763px #767676 , 1977px 1643px #767676 , 887px 882px #767676 , 1052px 446px #767676 , 1492px 1629px #767676 , 1517px 160px #767676 , 720px 1314px #767676 , 121px 1912px #767676 , 1185px 1290px #767676 , 890px 1201px #767676 , 1419px 1652px #767676 , 184px 1743px #767676 , 1017px 1586px #767676 , 1745px 1896px #767676 , 672px 251px #767676 , 1874px 684px #767676 , 1869px 702px #767676 , 1537px 257px #767676 , 818px 1998px #767676 , 1821px 1284px #767676 , 57px 1543px #767676 , 107px 1745px #767676 , 572px 428px #767676 , 375px 288px #767676 , 793px 1664px #767676 , 1141px 467px #767676 , 1978px 57px #767676 , 1284px 1413px #767676 , 566px 695px #767676 , 1651px 1975px #767676 , 147px 1780px #767676 , 1598px 318px #767676 , 1808px 1153px #767676 , 1424px 1117px #767676 , 1244px 704px #767676 , 185px 1075px #767676 , 1034px 420px #767676 , 1333px 610px #767676 , 881px 875px #767676 , 1103px 65px #767676 , 180px 1511px #767676 , 873px 1759px #767676 , 297px 700px #767676 , 1541px 658px #767676 , 231px 1885px #767676 , 278px 593px #767676 , 1010px 224px #767676 , 733px 721px #767676 , 938px 344px #767676 , 915px 144px #767676 , 1409px 1938px #767676 , 1883px 1514px #767676 , 1972px 491px #767676 , 454px 754px #767676 , 262px 773px #767676 , 1001px 1079px #767676 , 1969px 1573px #767676 , 794px 610px #767676 , 1004px 1809px #767676 , 538px 868px #767676 , 1924px 698px #767676 , 1587px 1329px #767676 , 920px 1985px #767676 , 637px 741px #767676 , 1455px 803px #767676 , 727px 1816px #767676 , 103px 142px #767676 , 1417px 440px #767676 , 622px 1599px #767676 , 517px 1951px #767676 , 634px 281px #767676 , 492px 1379px #767676 , 247px 1168px #767676 , 198px 405px #767676 , 1905px 1410px #767676 , 699px 1338px #767676 , 1653px 631px #767676 , 671px 560px #767676 , 1189px 1184px #767676 , 628px 286px #767676 , 848px 843px #767676 , 2000px 1339px #767676 , 826px 1746px #767676 , 224px 518px #767676 , 625px 1130px #767676 , 532px 1658px #767676 , 713px 1678px #767676 , 1806px 1053px #767676 , 968px 1734px #767676 , 444px 23px #767676 , 755px 1161px #767676 , 390px 1921px #767676 , 1703px 1929px #767676 , 1100px 1646px #767676 , 666px 1688px #767676 , 1701px 969px #767676 , 441px 539px #767676 , 292px 1174px #767676 , 1735px 1063px #767676 , 54px 81px #767676 , 1643px 857px #767676 , 520px 1283px #767676 , 1257px 863px #767676 , 1952px 1679px #767676 , 570px 933px #767676 , 719px 625px #767676 , 1125px 1305px #767676 , 1308px 1224px #767676 , 1485px 1235px #767676 , 1101px 1663px #767676 , 1851px 482px #767676 , 208px 1563px #767676 , 96px 53px #767676 , 1242px 828px #767676 , 1324px 1001px #767676 , 133px 816px #767676 , 1828px 1113px #767676 , 829px 1941px #767676 , 590px 520px #767676 , 1694px 775px #767676 , 1655px 758px #767676 , 412px 1562px #767676 , 43px 1567px #767676 , 948px 974px #767676 , 245px 1017px #767676 , 198px 1641px #767676 , 1394px 692px #767676 , 1652px 481px #767676 , 1174px 90px #767676 , 86px 1357px #767676 , 818px 62px #767676 , 735px 862px #767676 , 762px 458px #767676 , 1243px 109px #767676 , 1228px 1015px #767676 , 1121px 1260px #767676 , 705px 1122px #767676 , 190px 683px #767676 , 433px 1138px #767676 , 1954px 173px #767676 , 842px 834px #767676 , 607px 607px #767676 , 666px 1704px #767676 , 1721px 134px #767676 , 1044px 587px #767676 , 1457px 844px #767676 , 1835px 381px #767676 , 1102px 539px #767676 , 1053px 558px #767676 , 142px 1415px #767676 , 17px 1640px #767676 , 1943px 259px #767676 , 1628px 1079px #767676 , 1597px 106px #767676 , 1221px 168px #767676 , 179px 1647px #767676 , 1571px 1119px #767676 , 439px 1855px #767676 , 1543px 1808px #767676 , 1028px 1518px #767676 , 1263px 169px #767676 , 411px 452px #767676 , 561px 317px #767676 , 1048px 1520px #767676 , 1062px 786px #767676 , 883px 283px #767676 , 930px 227px #767676 , 153px 426px #767676 , 533px 1762px #767676 , 420px 1772px #767676 , 1735px 149px #767676 , 281px 740px #767676 , 951px 1989px #767676 , 1571px 1657px #767676 , 175px 1583px #767676 , 1899px 1794px #767676 , 1855px 550px #767676 , 1598px 1903px #767676 , 1900px 691px #767676 , 1557px 1480px #767676 , 1035px 924px #767676 , 102px 1195px #767676 , 304px 1340px #767676 , 1226px 1849px #767676 , 1119px 580px #767676 , 1126px 856px #767676 , 1568px 1569px #767676 , 1433px 14px #767676 , 1316px 1349px #767676 , 311px 1810px #767676 , 724px 817px #767676 , 1369px 1819px #767676 , 1214px 231px #767676 , 922px 907px #767676 , 1211px 558px #767676 , 336px 1539px #767676 , 348px 700px #767676 , 952px 1209px #767676 , 573px 377px #767676 , 1662px 1991px #767676 , 1989px 543px #767676 , 1351px 532px #767676 , 114px 1966px #767676 , 139px 1723px #767676 , 393px 991px #767676 , 573px 1012px #767676 , 1026px 1340px #767676 , 882px 1201px #767676 , 1328px 1460px #767676 , 1204px 225px #767676 , 1460px 339px #767676 , 1759px 1411px #767676 , 843px 1533px #767676 , 134px 1878px #767676 , 1664px 1881px #767676 , 13px 1161px #767676 , 610px 1082px #767676 , 1025px 890px #767676 , 1410px 1249px #767676 , 1055px 752px #767676 , 270px 192px #767676 , 344px 1324px #767676 , 1808px 1360px #767676 , 1135px 545px #767676 , 826px 1483px #767676 , 425px 1310px #767676 , 1108px 991px #767676 , 1143px 1798px #767676 , 262px 1504px #767676 , 981px 1400px #767676 , 991px 1071px #767676 , 1203px 748px #767676 , 1825px 854px #767676 , 1171px 1574px #767676 , 1523px 435px #767676 , 420px 890px #767676 , 1405px 782px #767676 , 1603px 1087px #767676 , 545px 251px #767676 , 1046px 1670px #767676 , 1660px 1470px #767676 , 1241px 925px #767676 , 956px 965px #767676 , 1891px 1996px #767676 , 461px 108px #767676 , 1806px 259px #767676 , 1029px 335px #767676 , 967px 286px #767676 , 1777px 95px #767676 , 1430px 277px #767676 , 304px 289px #767676 , 422px 314px #767676 , 1302px 245px #767676 , 1794px 1678px #767676 , 1117px 768px #767676 , 1247px 1516px #767676 , 1031px 1553px #767676 , 740px 1791px #767676 , 736px 339px #767676 , 580px 382px #767676 , 1968px 697px #767676 , 1102px 1427px #767676 , 8px 1819px #767676 , 243px 1075px #767676 , 206px 1465px #767676 , 329px 1952px #767676 , 21px 189px #767676 , 387px 573px #767676 , 313px 730px #767676 , 545px 1125px #767676 , 1342px 776px #767676 , 846px 1866px #767676 , 1392px 362px #767676 , 1786px 419px #767676 , 112px 1993px #767676 , 651px 1948px #767676 , 655px 1478px #767676 , 71px 262px #767676 , 17px 952px #767676 , 1603px 809px #767676 , 1806px 1069px #767676 , 158px 1604px #767676 , 553px 1498px #767676 , 1371px 594px #767676 , 27px 1916px #767676 , 1040px 375px #767676 , 1850px 1348px #767676 , 60px 564px #767676 , 1803px 111px #767676 , 1029px 580px #767676 , 222px 107px #767676 , 1034px 220px #767676 , 25px 175px #767676 , 507px 1401px #767676 , 1587px 1736px #767676 , 492px 206px #767676 , 713px 721px #767676 , 1588px 472px #767676 , 918px 1059px #767676 , 932px 32px #767676 , 577px 1718px #767676 , 1368px 1813px #767676 , 1079px 1262px #767676 , 1473px 1352px #767676 , 498px 912px #767676 , 1842px 822px #767676 , 1088px 1996px #767676 , 90px 1430px #767676 , 1877px 1863px #767676 , 1531px 101px #767676 , 1826px 1420px #767676 , 946px 1334px #767676 , 1064px 497px #767676 , 1002px 1636px #767676 , 583px 355px #767676 , 1261px 1889px #767676 , 1485px 1500px #767676 , 806px 543px #767676 , 1174px 822px #767676 , 1851px 611px #767676 , 616px 1279px #767676 , 275px 233px #767676 , 128px 166px #767676 , 1344px 445px #767676 , 1099px 1683px #767676 , 194px 1722px #767676 , 1007px 240px #767676 , 222px 179px #767676 , 1712px 1131px #767676 , 1387px 1290px #767676 , 1497px 1524px #767676 , 227px 55px #767676 , 306px 554px #767676 , 997px 1312px #767676 , 447px 1415px #767676 , 158px 925px #767676 , 827px 682px #767676 , 921px 289px #767676 , 1731px 1697px #767676 , 20px 48px #767676 , 95px 1676px #767676 , 591px 371px #767676 , 1462px 5px #767676 , 1105px 47px #767676 , 763px 1342px #767676 , 520px 854px #767676 , 113px 73px #767676 , 326px 1386px #767676 , 1573px 1364px #767676 , 574px 801px #767676 , 48px 1378px #767676 , 551px 1210px #767676 , 267px 669px #767676 , 411px 1778px #767676 , 1622px 1566px #767676 , 1826px 1px #767676 , 905px 269px #767676 , 1943px 1361px #767676 , 465px 1795px #767676 , 677px 887px #767676 , 1844px 60px #767676 , 485px 412px #767676 , 1040px 806px #767676 , 270px 899px #767676 , 1812px 87px #767676 , 1151px 1205px #767676 , 1685px 664px #767676 , 900px 666px #767676 , 1712px 29px #767676 , 1189px 915px #767676 , 1173px 108px #767676 , 710px 1552px #767676 , 396px 629px #767676 , 1976px 578px #767676 , 1911px 968px #767676 , 1844px 389px #767676 , 314px 922px #767676 , 950px 1191px #767676 , 986px 354px #767676 , 331px 1029px #767676 , 1703px 1878px #767676 , 619px 1086px #767676 , 1142px 61px #767676 , 484px 766px #767676 , 268px 1492px #767676 , 1816px 1930px #767676 , 831px 653px #767676 , 1472px 1327px #767676 , 633px 525px #767676 , 351px 1149px #767676 , 1991px 1838px #767676 , 202px 1416px #767676 , 1828px 534px #767676 , 1529px 687px #767676 , 1116px 606px #767676 , 1754px 242px #767676 , 874px 1653px #767676 , 1299px 28px #767676 , 993px 1524px #767676 , 1128px 189px #767676 , 876px 1054px #767676 , 363px 240px #767676 , 1364px 1289px #767676 , 1207px 1505px #767676 , 1105px 1060px #767676 , 756px 1380px #767676 , 1990px 676px #767676 , 247px 1470px #767676 , 617px 553px #767676 , 1931px 653px #767676 , 40px 559px #767676 , 872px 214px #767676 , 911px 1164px #767676 , 1652px 1220px #767676 , 1538px 1663px #767676 , 373px 18px #767676 , 290px 1780px #767676 , 1643px 1663px #767676 , 906px 956px #767676 , 1045px 941px #767676 , 1453px 1313px #767676 , 1921px 245px #767676 , 71px 1935px #767676 , 1135px 412px #767676 , 1054px 677px #767676 , 928px 625px #767676 , 756px 1078px #767676 , 201px 1650px #767676 , 467px 784px #767676 , 1751px 1428px #767676 , 1176px 474px #767676 , 1797px 1325px #767676 , 881px 444px #767676 , 1282px 1572px #767676 , 1594px 93px #767676 , 857px 1299px #767676 , 1049px 1107px #767676 , 1438px 1312px #767676 , 1996px 415px #767676 , 1794px 1992px #767676 , 849px 1686px #767676 , 240px 946px #767676 , 900px 1349px #767676 , 1607px 1531px #767676 , 868px 702px #767676 , 1579px 1475px #767676 , 787px 1945px #767676 , 1676px 1939px #767676 , 279px 1997px #767676 , 794px 1796px #767676 , 340px 546px #767676 , 1883px 580px #767676 , 468px 1372px #767676 , 659px 1192px #767676 , 1268px 1965px #767676 , 1882px 1211px #767676 , 1851px 1944px #767676 , 979px 428px #767676 , 106px 1355px #767676 , 330px 228px #767676 , 1547px 1874px #767676 , 847px 1078px #767676 , 1535px 105px #767676 , 39px 1228px #767676 , 1890px 1658px #767676 , 506px 1299px #767676 , 103px 224px #767676 , 1117px 695px #767676 , 368px 33px #767676 , 538px 1191px #767676 , 1983px 1107px #767676 , 69px 408px #767676 , 766px 60px #767676 , 61px 963px #767676 , 1724px 1137px #767676 , 327px 378px #767676 , 1983px 1428px #767676 , 1264px 1239px #767676 , 118px 261px #767676 , 337px 1617px #767676 , 1217px 301px #767676 , 358px 1835px #767676 , 472px 1743px #767676 , 1041px 1693px #767676 , 168px 1773px #767676 , 1741px 765px #767676 , 1465px 233px #767676 , 766px 1443px #767676 , 555px 255px #767676 , 322px 850px #767676 , 623px 366px #767676 , 603px 1370px #767676 , 603px 1888px #767676 , 1287px 1507px #767676 , 1516px 942px #767676 , 2px 1265px #767676 , 866px 412px #767676 , 1143px 78px #767676 , 495px 687px #767676 , 938px 1182px #767676 , 1091px 103px #767676 , 1611px 165px #767676 , 684px 380px #767676 , 444px 1830px #767676 , 1339px 653px #767676 , 414px 1471px #767676 , 643px 1489px #767676 , 590px 1420px #767676 , 1887px 1113px #767676 , 599px 455px #767676 , 404px 942px #767676 , 1239px 1262px #767676 , 954px 944px #767676 , 1913px 1837px #767676 , 1922px 1504px #767676 , 77px 989px #767676 , 615px 138px #767676 , 42px 1245px #767676 , 228px 200px #767676 , 1189px 1343px #767676 , 1453px 499px #767676 , 1194px 954px #767676 , 939px 436px #767676 , 1915px 165px #767676 , 70px 1391px #767676 , 1457px 1756px #767676 , 1748px 220px #767676 , 1385px 237px #767676 , 1719px 1365px #767676 , 1777px 114px #767676 , 926px 1191px #767676 , 643px 205px #767676 , 1458px 518px #767676 , 1735px 1203px #767676 , 1835px 722px #767676 , 386px 1992px #767676 , 1162px 283px #767676 , 190px 456px #767676 , 210px 1191px #767676 , 1089px 41px #767676 , 335px 1211px #767676;
    animation: starsAnimation 50s linear infinite;
}
.stars > .small:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 226px 197px #767676 , 1488px 1972px #767676 , 1541px 473px #767676 , 625px 1505px #767676 , 860px 476px #767676 , 1612px 743px #767676 , 536px 515px #767676 , 692px 964px #767676 , 410px 438px #767676 , 100px 735px #767676 , 1832px 1389px #767676 , 933px 32px #767676 , 142px 749px #767676 , 1501px 2000px #767676 , 710px 820px #767676 , 1141px 1369px #767676 , 749px 114px #767676 , 139px 656px #767676 , 196px 1252px #767676 , 1449px 1437px #767676 , 1754px 185px #767676 , 14px 1255px #767676 , 38px 143px #767676 , 1139px 581px #767676 , 1613px 1403px #767676 , 237px 1857px #767676 , 828px 1218px #767676 , 981px 1705px #767676 , 297px 1082px #767676 , 1673px 148px #767676 , 914px 996px #767676 , 349px 448px #767676 , 761px 29px #767676 , 1474px 1863px #767676 , 569px 1645px #767676 , 130px 1441px #767676 , 285px 1689px #767676 , 651px 817px #767676 , 1492px 881px #767676 , 1183px 1452px #767676 , 702px 1140px #767676 , 844px 744px #767676 , 811px 1182px #767676 , 1288px 748px #767676 , 1415px 188px #767676 , 1873px 1508px #767676 , 787px 827px #767676 , 1172px 1630px #767676 , 1057px 808px #767676 , 548px 245px #767676 , 958px 743px #767676 , 609px 481px #767676 , 1417px 338px #767676 , 1002px 428px #767676 , 1828px 1887px #767676 , 1072px 501px #767676 , 1059px 1576px #767676 , 552px 329px #767676 , 1803px 413px #767676 , 1646px 723px #767676 , 1182px 1720px #767676 , 1849px 699px #767676 , 1110px 448px #767676 , 380px 1843px #767676 , 556px 1297px #767676 , 1773px 1498px #767676 , 306px 390px #767676 , 1832px 945px #767676 , 1575px 1378px #767676 , 585px 1183px #767676 , 62px 1909px #767676 , 1533px 546px #767676 , 216px 268px #767676 , 1570px 460px #767676 , 683px 347px #767676 , 1923px 1766px #767676 , 60px 913px #767676 , 843px 1945px #767676 , 290px 1881px #767676 , 671px 1135px #767676 , 1927px 1829px #767676 , 701px 969px #767676 , 1802px 351px #767676 , 238px 510px #767676 , 1877px 807px #767676 , 818px 1766px #767676 , 1503px 938px #767676 , 413px 545px #767676 , 86px 1272px #767676 , 1586px 772px #767676 , 221px 58px #767676 , 1497px 1861px #767676 , 1851px 1705px #767676 , 69px 1741px #767676 , 1475px 777px #767676 , 1514px 757px #767676 , 137px 705px #767676 , 1211px 877px #767676 , 1110px 887px #767676 , 900px 1699px #767676 , 92px 1268px #767676 , 1125px 867px #767676 , 875px 1697px #767676 , 1921px 604px #767676 , 326px 696px #767676 , 389px 1169px #767676 , 1894px 1824px #767676 , 1650px 1017px #767676 , 778px 1052px #767676 , 1148px 601px #767676 , 1276px 123px #767676 , 673px 1336px #767676 , 1622px 408px #767676 , 912px 565px #767676 , 307px 374px #767676 , 1930px 1099px #767676 , 196px 860px #767676 , 1750px 1586px #767676 , 617px 1997px #767676 , 1170px 1251px #767676 , 439px 672px #767676 , 734px 1821px #767676 , 494px 1225px #767676 , 686px 1512px #767676 , 430px 429px #767676 , 345px 1722px #767676 , 1352px 1754px #767676 , 1894px 964px #767676 , 535px 1607px #767676 , 907px 1125px #767676 , 285px 592px #767676 , 800px 1939px #767676 , 510px 1256px #767676 , 832px 1667px #767676 , 1979px 1569px #767676 , 1960px 1670px #767676 , 1347px 1909px #767676 , 462px 1694px #767676 , 1419px 1048px #767676 , 1326px 12px #767676 , 1289px 355px #767676 , 1299px 1975px #767676 , 1742px 133px #767676 , 918px 52px #767676 , 1191px 1096px #767676 , 886px 1377px #767676 , 1340px 1604px #767676 , 660px 533px #767676 , 1765px 487px #767676 , 1100px 54px #767676 , 1397px 362px #767676 , 1077px 1481px #767676 , 418px 174px #767676 , 259px 1625px #767676 , 1496px 739px #767676 , 478px 1269px #767676 , 1666px 585px #767676 , 1680px 1511px #767676 , 1248px 881px #767676 , 114px 1763px #767676 , 1977px 1643px #767676 , 887px 882px #767676 , 1052px 446px #767676 , 1492px 1629px #767676 , 1517px 160px #767676 , 720px 1314px #767676 , 121px 1912px #767676 , 1185px 1290px #767676 , 890px 1201px #767676 , 1419px 1652px #767676 , 184px 1743px #767676 , 1017px 1586px #767676 , 1745px 1896px #767676 , 672px 251px #767676 , 1874px 684px #767676 , 1869px 702px #767676 , 1537px 257px #767676 , 818px 1998px #767676 , 1821px 1284px #767676 , 57px 1543px #767676 , 107px 1745px #767676 , 572px 428px #767676 , 375px 288px #767676 , 793px 1664px #767676 , 1141px 467px #767676 , 1978px 57px #767676 , 1284px 1413px #767676 , 566px 695px #767676 , 1651px 1975px #767676 , 147px 1780px #767676 , 1598px 318px #767676 , 1808px 1153px #767676 , 1424px 1117px #767676 , 1244px 704px #767676 , 185px 1075px #767676 , 1034px 420px #767676 , 1333px 610px #767676 , 881px 875px #767676 , 1103px 65px #767676 , 180px 1511px #767676 , 873px 1759px #767676 , 297px 700px #767676 , 1541px 658px #767676 , 231px 1885px #767676 , 278px 593px #767676 , 1010px 224px #767676 , 733px 721px #767676 , 938px 344px #767676 , 915px 144px #767676 , 1409px 1938px #767676 , 1883px 1514px #767676 , 1972px 491px #767676 , 454px 754px #767676 , 262px 773px #767676 , 1001px 1079px #767676 , 1969px 1573px #767676 , 794px 610px #767676 , 1004px 1809px #767676 , 538px 868px #767676 , 1924px 698px #767676 , 1587px 1329px #767676 , 920px 1985px #767676 , 637px 741px #767676 , 1455px 803px #767676 , 727px 1816px #767676 , 103px 142px #767676 , 1417px 440px #767676 , 622px 1599px #767676 , 517px 1951px #767676 , 634px 281px #767676 , 492px 1379px #767676 , 247px 1168px #767676 , 198px 405px #767676 , 1905px 1410px #767676 , 699px 1338px #767676 , 1653px 631px #767676 , 671px 560px #767676 , 1189px 1184px #767676 , 628px 286px #767676 , 848px 843px #767676 , 2000px 1339px #767676 , 826px 1746px #767676 , 224px 518px #767676 , 625px 1130px #767676 , 532px 1658px #767676 , 713px 1678px #767676 , 1806px 1053px #767676 , 968px 1734px #767676 , 444px 23px #767676 , 755px 1161px #767676 , 390px 1921px #767676 , 1703px 1929px #767676 , 1100px 1646px #767676 , 666px 1688px #767676 , 1701px 969px #767676 , 441px 539px #767676 , 292px 1174px #767676 , 1735px 1063px #767676 , 54px 81px #767676 , 1643px 857px #767676 , 520px 1283px #767676 , 1257px 863px #767676 , 1952px 1679px #767676 , 570px 933px #767676 , 719px 625px #767676 , 1125px 1305px #767676 , 1308px 1224px #767676 , 1485px 1235px #767676 , 1101px 1663px #767676 , 1851px 482px #767676 , 208px 1563px #767676 , 96px 53px #767676 , 1242px 828px #767676 , 1324px 1001px #767676 , 133px 816px #767676 , 1828px 1113px #767676 , 829px 1941px #767676 , 590px 520px #767676 , 1694px 775px #767676 , 1655px 758px #767676 , 412px 1562px #767676 , 43px 1567px #767676 , 948px 974px #767676 , 245px 1017px #767676 , 198px 1641px #767676 , 1394px 692px #767676 , 1652px 481px #767676 , 1174px 90px #767676 , 86px 1357px #767676 , 818px 62px #767676 , 735px 862px #767676 , 762px 458px #767676 , 1243px 109px #767676 , 1228px 1015px #767676 , 1121px 1260px #767676 , 705px 1122px #767676 , 190px 683px #767676 , 433px 1138px #767676 , 1954px 173px #767676 , 842px 834px #767676 , 607px 607px #767676 , 666px 1704px #767676 , 1721px 134px #767676 , 1044px 587px #767676 , 1457px 844px #767676 , 1835px 381px #767676 , 1102px 539px #767676 , 1053px 558px #767676 , 142px 1415px #767676 , 17px 1640px #767676 , 1943px 259px #767676 , 1628px 1079px #767676 , 1597px 106px #767676 , 1221px 168px #767676 , 179px 1647px #767676 , 1571px 1119px #767676 , 439px 1855px #767676 , 1543px 1808px #767676 , 1028px 1518px #767676 , 1263px 169px #767676 , 411px 452px #767676 , 561px 317px #767676 , 1048px 1520px #767676 , 1062px 786px #767676 , 883px 283px #767676 , 930px 227px #767676 , 153px 426px #767676 , 533px 1762px #767676 , 420px 1772px #767676 , 1735px 149px #767676 , 281px 740px #767676 , 951px 1989px #767676 , 1571px 1657px #767676 , 175px 1583px #767676 , 1899px 1794px #767676 , 1855px 550px #767676 , 1598px 1903px #767676 , 1900px 691px #767676 , 1557px 1480px #767676 , 1035px 924px #767676 , 102px 1195px #767676 , 304px 1340px #767676 , 1226px 1849px #767676 , 1119px 580px #767676 , 1126px 856px #767676 , 1568px 1569px #767676 , 1433px 14px #767676 , 1316px 1349px #767676 , 311px 1810px #767676 , 724px 817px #767676 , 1369px 1819px #767676 , 1214px 231px #767676 , 922px 907px #767676 , 1211px 558px #767676 , 336px 1539px #767676 , 348px 700px #767676 , 952px 1209px #767676 , 573px 377px #767676 , 1662px 1991px #767676 , 1989px 543px #767676 , 1351px 532px #767676 , 114px 1966px #767676 , 139px 1723px #767676 , 393px 991px #767676 , 573px 1012px #767676 , 1026px 1340px #767676 , 882px 1201px #767676 , 1328px 1460px #767676 , 1204px 225px #767676 , 1460px 339px #767676 , 1759px 1411px #767676 , 843px 1533px #767676 , 134px 1878px #767676 , 1664px 1881px #767676 , 13px 1161px #767676 , 610px 1082px #767676 , 1025px 890px #767676 , 1410px 1249px #767676 , 1055px 752px #767676 , 270px 192px #767676 , 344px 1324px #767676 , 1808px 1360px #767676 , 1135px 545px #767676 , 826px 1483px #767676 , 425px 1310px #767676 , 1108px 991px #767676 , 1143px 1798px #767676 , 262px 1504px #767676 , 981px 1400px #767676 , 991px 1071px #767676 , 1203px 748px #767676 , 1825px 854px #767676 , 1171px 1574px #767676 , 1523px 435px #767676 , 420px 890px #767676 , 1405px 782px #767676 , 1603px 1087px #767676 , 545px 251px #767676 , 1046px 1670px #767676 , 1660px 1470px #767676 , 1241px 925px #767676 , 956px 965px #767676 , 1891px 1996px #767676 , 461px 108px #767676 , 1806px 259px #767676 , 1029px 335px #767676 , 967px 286px #767676 , 1777px 95px #767676 , 1430px 277px #767676 , 304px 289px #767676 , 422px 314px #767676 , 1302px 245px #767676 , 1794px 1678px #767676 , 1117px 768px #767676 , 1247px 1516px #767676 , 1031px 1553px #767676 , 740px 1791px #767676 , 736px 339px #767676 , 580px 382px #767676 , 1968px 697px #767676 , 1102px 1427px #767676 , 8px 1819px #767676 , 243px 1075px #767676 , 206px 1465px #767676 , 329px 1952px #767676 , 21px 189px #767676 , 387px 573px #767676 , 313px 730px #767676 , 545px 1125px #767676 , 1342px 776px #767676 , 846px 1866px #767676 , 1392px 362px #767676 , 1786px 419px #767676 , 112px 1993px #767676 , 651px 1948px #767676 , 655px 1478px #767676 , 71px 262px #767676 , 17px 952px #767676 , 1603px 809px #767676 , 1806px 1069px #767676 , 158px 1604px #767676 , 553px 1498px #767676 , 1371px 594px #767676 , 27px 1916px #767676 , 1040px 375px #767676 , 1850px 1348px #767676 , 60px 564px #767676 , 1803px 111px #767676 , 1029px 580px #767676 , 222px 107px #767676 , 1034px 220px #767676 , 25px 175px #767676 , 507px 1401px #767676 , 1587px 1736px #767676 , 492px 206px #767676 , 713px 721px #767676 , 1588px 472px #767676 , 918px 1059px #767676 , 932px 32px #767676 , 577px 1718px #767676 , 1368px 1813px #767676 , 1079px 1262px #767676 , 1473px 1352px #767676 , 498px 912px #767676 , 1842px 822px #767676 , 1088px 1996px #767676 , 90px 1430px #767676 , 1877px 1863px #767676 , 1531px 101px #767676 , 1826px 1420px #767676 , 946px 1334px #767676 , 1064px 497px #767676 , 1002px 1636px #767676 , 583px 355px #767676 , 1261px 1889px #767676 , 1485px 1500px #767676 , 806px 543px #767676 , 1174px 822px #767676 , 1851px 611px #767676 , 616px 1279px #767676 , 275px 233px #767676 , 128px 166px #767676 , 1344px 445px #767676 , 1099px 1683px #767676 , 194px 1722px #767676 , 1007px 240px #767676 , 222px 179px #767676 , 1712px 1131px #767676 , 1387px 1290px #767676 , 1497px 1524px #767676 , 227px 55px #767676 , 306px 554px #767676 , 997px 1312px #767676 , 447px 1415px #767676 , 158px 925px #767676 , 827px 682px #767676 , 921px 289px #767676 , 1731px 1697px #767676 , 20px 48px #767676 , 95px 1676px #767676 , 591px 371px #767676 , 1462px 5px #767676 , 1105px 47px #767676 , 763px 1342px #767676 , 520px 854px #767676 , 113px 73px #767676 , 326px 1386px #767676 , 1573px 1364px #767676 , 574px 801px #767676 , 48px 1378px #767676 , 551px 1210px #767676 , 267px 669px #767676 , 411px 1778px #767676 , 1622px 1566px #767676 , 1826px 1px #767676 , 905px 269px #767676 , 1943px 1361px #767676 , 465px 1795px #767676 , 677px 887px #767676 , 1844px 60px #767676 , 485px 412px #767676 , 1040px 806px #767676 , 270px 899px #767676 , 1812px 87px #767676 , 1151px 1205px #767676 , 1685px 664px #767676 , 900px 666px #767676 , 1712px 29px #767676 , 1189px 915px #767676 , 1173px 108px #767676 , 710px 1552px #767676 , 396px 629px #767676 , 1976px 578px #767676 , 1911px 968px #767676 , 1844px 389px #767676 , 314px 922px #767676 , 950px 1191px #767676 , 986px 354px #767676 , 331px 1029px #767676 , 1703px 1878px #767676 , 619px 1086px #767676 , 1142px 61px #767676 , 484px 766px #767676 , 268px 1492px #767676 , 1816px 1930px #767676 , 831px 653px #767676 , 1472px 1327px #767676 , 633px 525px #767676 , 351px 1149px #767676 , 1991px 1838px #767676 , 202px 1416px #767676 , 1828px 534px #767676 , 1529px 687px #767676 , 1116px 606px #767676 , 1754px 242px #767676 , 874px 1653px #767676 , 1299px 28px #767676 , 993px 1524px #767676 , 1128px 189px #767676 , 876px 1054px #767676 , 363px 240px #767676 , 1364px 1289px #767676 , 1207px 1505px #767676 , 1105px 1060px #767676 , 756px 1380px #767676 , 1990px 676px #767676 , 247px 1470px #767676 , 617px 553px #767676 , 1931px 653px #767676 , 40px 559px #767676 , 872px 214px #767676 , 911px 1164px #767676 , 1652px 1220px #767676 , 1538px 1663px #767676 , 373px 18px #767676 , 290px 1780px #767676 , 1643px 1663px #767676 , 906px 956px #767676 , 1045px 941px #767676 , 1453px 1313px #767676 , 1921px 245px #767676 , 71px 1935px #767676 , 1135px 412px #767676 , 1054px 677px #767676 , 928px 625px #767676 , 756px 1078px #767676 , 201px 1650px #767676 , 467px 784px #767676 , 1751px 1428px #767676 , 1176px 474px #767676 , 1797px 1325px #767676 , 881px 444px #767676 , 1282px 1572px #767676 , 1594px 93px #767676 , 857px 1299px #767676 , 1049px 1107px #767676 , 1438px 1312px #767676 , 1996px 415px #767676 , 1794px 1992px #767676 , 849px 1686px #767676 , 240px 946px #767676 , 900px 1349px #767676 , 1607px 1531px #767676 , 868px 702px #767676 , 1579px 1475px #767676 , 787px 1945px #767676 , 1676px 1939px #767676 , 279px 1997px #767676 , 794px 1796px #767676 , 340px 546px #767676 , 1883px 580px #767676 , 468px 1372px #767676 , 659px 1192px #767676 , 1268px 1965px #767676 , 1882px 1211px #767676 , 1851px 1944px #767676 , 979px 428px #767676 , 106px 1355px #767676 , 330px 228px #767676 , 1547px 1874px #767676 , 847px 1078px #767676 , 1535px 105px #767676 , 39px 1228px #767676 , 1890px 1658px #767676 , 506px 1299px #767676 , 103px 224px #767676 , 1117px 695px #767676 , 368px 33px #767676 , 538px 1191px #767676 , 1983px 1107px #767676 , 69px 408px #767676 , 766px 60px #767676 , 61px 963px #767676 , 1724px 1137px #767676 , 327px 378px #767676 , 1983px 1428px #767676 , 1264px 1239px #767676 , 118px 261px #767676 , 337px 1617px #767676 , 1217px 301px #767676 , 358px 1835px #767676 , 472px 1743px #767676 , 1041px 1693px #767676 , 168px 1773px #767676 , 1741px 765px #767676 , 1465px 233px #767676 , 766px 1443px #767676 , 555px 255px #767676 , 322px 850px #767676 , 623px 366px #767676 , 603px 1370px #767676 , 603px 1888px #767676 , 1287px 1507px #767676 , 1516px 942px #767676 , 2px 1265px #767676 , 866px 412px #767676 , 1143px 78px #767676 , 495px 687px #767676 , 938px 1182px #767676 , 1091px 103px #767676 , 1611px 165px #767676 , 684px 380px #767676 , 444px 1830px #767676 , 1339px 653px #767676 , 414px 1471px #767676 , 643px 1489px #767676 , 590px 1420px #767676 , 1887px 1113px #767676 , 599px 455px #767676 , 404px 942px #767676 , 1239px 1262px #767676 , 954px 944px #767676 , 1913px 1837px #767676 , 1922px 1504px #767676 , 77px 989px #767676 , 615px 138px #767676 , 42px 1245px #767676 , 228px 200px #767676 , 1189px 1343px #767676 , 1453px 499px #767676 , 1194px 954px #767676 , 939px 436px #767676 , 1915px 165px #767676 , 70px 1391px #767676 , 1457px 1756px #767676 , 1748px 220px #767676 , 1385px 237px #767676 , 1719px 1365px #767676 , 1777px 114px #767676 , 926px 1191px #767676 , 643px 205px #767676 , 1458px 518px #767676 , 1735px 1203px #767676 , 1835px 722px #767676 , 386px 1992px #767676 , 1162px 283px #767676 , 190px 456px #767676 , 210px 1191px #767676 , 1089px 41px #767676 , 335px 1211px #767676;
}

.stars > .medium {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1801px 957px #767676 , 1773px 1266px #767676 , 1904px 780px #767676 , 886px 1871px #767676 , 1300px 204px #767676 , 1129px 1892px #767676 , 366px 1776px #767676 , 319px 1570px #767676 , 1911px 1107px #767676 , 1475px 1242px #767676 , 1853px 1160px #767676 , 7px 1423px #767676 , 1719px 183px #767676 , 1447px 1435px #767676 , 1381px 1790px #767676 , 1740px 64px #767676 , 540px 773px #767676 , 756px 703px #767676 , 563px 124px #767676 , 1237px 1497px #767676 , 1244px 1114px #767676 , 1973px 1119px #767676 , 905px 1246px #767676 , 1635px 354px #767676 , 830px 187px #767676 , 1305px 1913px #767676 , 302px 757px #767676 , 203px 150px #767676 , 696px 420px #767676 , 1106px 1319px #767676 , 779px 1271px #767676 , 891px 397px #767676 , 1439px 333px #767676 , 712px 1504px #767676 , 1343px 1321px #767676 , 1854px 747px #767676 , 1772px 1097px #767676 , 424px 1636px #767676 , 1422px 1198px #767676 , 751px 961px #767676 , 650px 1728px #767676 , 1949px 1035px #767676 , 1867px 403px #767676 , 2000px 1287px #767676 , 502px 1813px #767676 , 676px 1199px #767676 , 1647px 76px #767676 , 1711px 313px #767676 , 1418px 9px #767676 , 721px 742px #767676 , 1748px 259px #767676 , 607px 897px #767676 , 3px 812px #767676 , 1145px 979px #767676 , 516px 990px #767676 , 1349px 1694px #767676 , 1204px 671px #767676 , 354px 1556px #767676 , 1935px 1173px #767676 , 1374px 1381px #767676 , 1902px 704px #767676 , 1825px 893px #767676 , 1772px 1902px #767676 , 1396px 807px #767676 , 1676px 235px #767676 , 849px 60px #767676 , 1096px 966px #767676 , 1706px 803px #767676 , 540px 1708px #767676 , 1688px 676px #767676 , 164px 1260px #767676 , 437px 1237px #767676 , 688px 197px #767676 , 460px 306px #767676 , 1189px 1100px #767676 , 8px 333px #767676 , 739px 488px #767676 , 1797px 1030px #767676 , 927px 759px #767676 , 1186px 1360px #767676 , 1461px 804px #767676 , 1468px 801px #767676 , 1540px 866px #767676 , 1455px 425px #767676 , 419px 809px #767676 , 1590px 342px #767676 , 830px 50px #767676 , 871px 579px #767676 , 629px 163px #767676 , 1193px 1486px #767676 , 341px 441px #767676 , 914px 1279px #767676 , 121px 1674px #767676 , 1500px 160px #767676 , 910px 1672px #767676 , 1216px 218px #767676 , 1521px 15px #767676 , 581px 141px #767676 , 1952px 1898px #767676 , 695px 383px #767676 , 61px 462px #767676 , 220px 728px #767676 , 433px 823px #767676 , 1319px 816px #767676 , 1705px 79px #767676 , 195px 1993px #767676 , 430px 1609px #767676 , 161px 1814px #767676 , 980px 1965px #767676 , 614px 1456px #767676 , 1341px 1116px #767676 , 1170px 1180px #767676 , 800px 645px #767676 , 763px 56px #767676 , 592px 308px #767676 , 917px 1575px #767676 , 779px 1779px #767676 , 973px 583px #767676 , 237px 770px #767676 , 668px 457px #767676 , 220px 161px #767676 , 16px 1270px #767676 , 606px 1975px #767676 , 1238px 1212px #767676 , 1555px 1639px #767676 , 1727px 262px #767676 , 834px 511px #767676 , 1181px 1551px #767676 , 895px 1384px #767676 , 1129px 1228px #767676 , 714px 575px #767676 , 199px 1835px #767676 , 1865px 587px #767676 , 120px 691px #767676 , 257px 1184px #767676 , 152px 1775px #767676 , 1183px 91px #767676 , 1072px 1958px #767676 , 243px 1530px #767676 , 1831px 1913px #767676 , 331px 704px #767676 , 836px 1189px #767676 , 1756px 1006px #767676 , 139px 1338px #767676 , 809px 452px #767676 , 1370px 108px #767676 , 713px 755px #767676 , 634px 588px #767676 , 392px 701px #767676 , 1027px 1630px #767676 , 1725px 697px #767676 , 586px 1164px #767676 , 1375px 127px #767676 , 184px 681px #767676 , 1190px 1133px #767676 , 1212px 1870px #767676 , 1002px 65px #767676 , 380px 718px #767676 , 1888px 749px #767676 , 930px 1426px #767676 , 1206px 927px #767676 , 1799px 687px #767676 , 867px 167px #767676 , 259px 1239px #767676 , 1633px 1992px #767676 , 1648px 1038px #767676 , 611px 655px #767676 , 275px 434px #767676 , 201px 1670px #767676 , 1970px 847px #767676 , 443px 1004px #767676 , 1325px 684px #767676 , 537px 162px #767676 , 334px 869px #767676 , 378px 964px #767676 , 1433px 836px #767676 , 1026px 1973px #767676 , 357px 1901px #767676 , 360px 240px #767676 , 1752px 1478px #767676 , 1648px 1332px #767676 , 566px 1887px #767676 , 1312px 1251px #767676 , 1430px 1157px #767676 , 971px 865px #767676 , 1107px 559px #767676 , 695px 1158px #767676 , 931px 1923px #767676 , 505px 1317px #767676 , 1847px 1097px #767676 , 1408px 219px #767676 , 1176px 261px #767676 , 685px 1085px #767676 , 1104px 1751px #767676 , 1092px 1670px #767676 , 1430px 1423px #767676 , 1125px 522px #767676 , 336px 433px #767676 , 516px 1744px #767676 , 1721px 1589px #767676;
    animation: starsAnimation 100s linear infinite;
}
.stars > .medium:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1801px 957px #767676 , 1773px 1266px #767676 , 1904px 780px #767676 , 886px 1871px #767676 , 1300px 204px #767676 , 1129px 1892px #767676 , 366px 1776px #767676 , 319px 1570px #767676 , 1911px 1107px #767676 , 1475px 1242px #767676 , 1853px 1160px #767676 , 7px 1423px #767676 , 1719px 183px #767676 , 1447px 1435px #767676 , 1381px 1790px #767676 , 1740px 64px #767676 , 540px 773px #767676 , 756px 703px #767676 , 563px 124px #767676 , 1237px 1497px #767676 , 1244px 1114px #767676 , 1973px 1119px #767676 , 905px 1246px #767676 , 1635px 354px #767676 , 830px 187px #767676 , 1305px 1913px #767676 , 302px 757px #767676 , 203px 150px #767676 , 696px 420px #767676 , 1106px 1319px #767676 , 779px 1271px #767676 , 891px 397px #767676 , 1439px 333px #767676 , 712px 1504px #767676 , 1343px 1321px #767676 , 1854px 747px #767676 , 1772px 1097px #767676 , 424px 1636px #767676 , 1422px 1198px #767676 , 751px 961px #767676 , 650px 1728px #767676 , 1949px 1035px #767676 , 1867px 403px #767676 , 2000px 1287px #767676 , 502px 1813px #767676 , 676px 1199px #767676 , 1647px 76px #767676 , 1711px 313px #767676 , 1418px 9px #767676 , 721px 742px #767676 , 1748px 259px #767676 , 607px 897px #767676 , 3px 812px #767676 , 1145px 979px #767676 , 516px 990px #767676 , 1349px 1694px #767676 , 1204px 671px #767676 , 354px 1556px #767676 , 1935px 1173px #767676 , 1374px 1381px #767676 , 1902px 704px #767676 , 1825px 893px #767676 , 1772px 1902px #767676 , 1396px 807px #767676 , 1676px 235px #767676 , 849px 60px #767676 , 1096px 966px #767676 , 1706px 803px #767676 , 540px 1708px #767676 , 1688px 676px #767676 , 164px 1260px #767676 , 437px 1237px #767676 , 688px 197px #767676 , 460px 306px #767676 , 1189px 1100px #767676 , 8px 333px #767676 , 739px 488px #767676 , 1797px 1030px #767676 , 927px 759px #767676 , 1186px 1360px #767676 , 1461px 804px #767676 , 1468px 801px #767676 , 1540px 866px #767676 , 1455px 425px #767676 , 419px 809px #767676 , 1590px 342px #767676 , 830px 50px #767676 , 871px 579px #767676 , 629px 163px #767676 , 1193px 1486px #767676 , 341px 441px #767676 , 914px 1279px #767676 , 121px 1674px #767676 , 1500px 160px #767676 , 910px 1672px #767676 , 1216px 218px #767676 , 1521px 15px #767676 , 581px 141px #767676 , 1952px 1898px #767676 , 695px 383px #767676 , 61px 462px #767676 , 220px 728px #767676 , 433px 823px #767676 , 1319px 816px #767676 , 1705px 79px #767676 , 195px 1993px #767676 , 430px 1609px #767676 , 161px 1814px #767676 , 980px 1965px #767676 , 614px 1456px #767676 , 1341px 1116px #767676 , 1170px 1180px #767676 , 800px 645px #767676 , 763px 56px #767676 , 592px 308px #767676 , 917px 1575px #767676 , 779px 1779px #767676 , 973px 583px #767676 , 237px 770px #767676 , 668px 457px #767676 , 220px 161px #767676 , 16px 1270px #767676 , 606px 1975px #767676 , 1238px 1212px #767676 , 1555px 1639px #767676 , 1727px 262px #767676 , 834px 511px #767676 , 1181px 1551px #767676 , 895px 1384px #767676 , 1129px 1228px #767676 , 714px 575px #767676 , 199px 1835px #767676 , 1865px 587px #767676 , 120px 691px #767676 , 257px 1184px #767676 , 152px 1775px #767676 , 1183px 91px #767676 , 1072px 1958px #767676 , 243px 1530px #767676 , 1831px 1913px #767676 , 331px 704px #767676 , 836px 1189px #767676 , 1756px 1006px #767676 , 139px 1338px #767676 , 809px 452px #767676 , 1370px 108px #767676 , 713px 755px #767676 , 634px 588px #767676 , 392px 701px #767676 , 1027px 1630px #767676 , 1725px 697px #767676 , 586px 1164px #767676 , 1375px 127px #767676 , 184px 681px #767676 , 1190px 1133px #767676 , 1212px 1870px #767676 , 1002px 65px #767676 , 380px 718px #767676 , 1888px 749px #767676 , 930px 1426px #767676 , 1206px 927px #767676 , 1799px 687px #767676 , 867px 167px #767676 , 259px 1239px #767676 , 1633px 1992px #767676 , 1648px 1038px #767676 , 611px 655px #767676 , 275px 434px #767676 , 201px 1670px #767676 , 1970px 847px #767676 , 443px 1004px #767676 , 1325px 684px #767676 , 537px 162px #767676 , 334px 869px #767676 , 378px 964px #767676 , 1433px 836px #767676 , 1026px 1973px #767676 , 357px 1901px #767676 , 360px 240px #767676 , 1752px 1478px #767676 , 1648px 1332px #767676 , 566px 1887px #767676 , 1312px 1251px #767676 , 1430px 1157px #767676 , 971px 865px #767676 , 1107px 559px #767676 , 695px 1158px #767676 , 931px 1923px #767676 , 505px 1317px #767676 , 1847px 1097px #767676 , 1408px 219px #767676 , 1176px 261px #767676 , 685px 1085px #767676 , 1104px 1751px #767676 , 1092px 1670px #767676 , 1430px 1423px #767676 , 1125px 522px #767676 , 336px 433px #767676 , 516px 1744px #767676 , 1721px 1589px #767676;
}

.stars > .big {
    width: 4px;
    height: 4px;
    background: transparent;
    box-shadow: 889px 1801px #767676 , 450px 171px #767676 , 1293px 28px #767676 , 847px 1204px #767676 , 1965px 10px #767676 , 1712px 1360px #767676 , 1472px 1019px #767676 , 239px 1297px #767676 , 908px 1114px #767676 , 649px 1167px #767676 , 454px 486px #767676 , 1436px 1616px #767676 , 1384px 671px #767676 , 1098px 696px #767676 , 1767px 1580px #767676 , 1300px 396px #767676 , 1859px 1960px #767676 , 1792px 1821px #767676 , 356px 416px #767676 , 676px 645px #767676 , 280px 450px #767676 , 1641px 855px #767676 , 437px 1962px #767676 , 902px 1401px #767676 , 170px 896px #767676 , 1388px 702px #767676 , 1971px 909px #767676 , 941px 1232px #767676 , 1956px 604px #767676 , 1736px 842px #767676 , 706px 411px #767676 , 1319px 837px #767676 , 1705px 449px #767676 , 323px 1589px #767676 , 345px 350px #767676 , 1076px 472px #767676 , 713px 1190px #767676 , 1132px 1261px #767676 , 1123px 484px #767676 , 822px 1156px #767676 , 1170px 1548px #767676 , 1389px 1833px #767676 , 1258px 519px #767676 , 1619px 544px #767676 , 1436px 386px #767676 , 1545px 8px #767676 , 1271px 1841px #767676 , 1917px 295px #767676 , 380px 49px #767676 , 1380px 285px #767676 , 495px 181px #767676 , 672px 1677px #767676 , 1008px 1091px #767676 , 528px 966px #767676 , 850px 1316px #767676 , 929px 431px #767676 , 1729px 1827px #767676 , 1076px 748px #767676 , 1735px 745px #767676 , 1050px 617px #767676 , 471px 132px #767676 , 1033px 1030px #767676 , 1313px 803px #767676 , 868px 1478px #767676 , 1611px 494px #767676 , 388px 1806px #767676 , 243px 104px #767676 , 1978px 544px #767676 , 1189px 1085px #767676 , 690px 125px #767676 , 338px 23px #767676 , 1824px 141px #767676 , 1927px 976px #767676 , 1820px 1697px #767676 , 1979px 1541px #767676 , 1140px 998px #767676 , 205px 427px #767676 , 1023px 1106px #767676 , 872px 705px #767676 , 1098px 802px #767676 , 946px 1518px #767676 , 137px 960px #767676 , 479px 1180px #767676 , 1295px 1817px #767676 , 1538px 1059px #767676 , 1125px 1924px #767676 , 650px 1134px #767676 , 1233px 207px #767676 , 1315px 51px #767676 , 931px 1191px #767676 , 129px 1767px #767676 , 1222px 1772px #767676 , 1647px 1695px #767676 , 1878px 1257px #767676 , 927px 1250px #767676 , 391px 1533px #767676 , 1932px 239px #767676 , 167px 959px #767676 , 656px 1837px #767676 , 1821px 688px #767676;
    border-radius: 100%;
    animation: starsAnimation 150s linear infinite;
}
.stars > .big:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 4px;
    height: 4px;
    background: transparent;
    box-shadow: 889px 1801px #767676 , 450px 171px #767676 , 1293px 28px #767676 , 847px 1204px #767676 , 1965px 10px #767676 , 1712px 1360px #767676 , 1472px 1019px #767676 , 239px 1297px #767676 , 908px 1114px #767676 , 649px 1167px #767676 , 454px 486px #767676 , 1436px 1616px #767676 , 1384px 671px #767676 , 1098px 696px #767676 , 1767px 1580px #767676 , 1300px 396px #767676 , 1859px 1960px #767676 , 1792px 1821px #767676 , 356px 416px #767676 , 676px 645px #767676 , 280px 450px #767676 , 1641px 855px #767676 , 437px 1962px #767676 , 902px 1401px #767676 , 170px 896px #767676 , 1388px 702px #767676 , 1971px 909px #767676 , 941px 1232px #767676 , 1956px 604px #767676 , 1736px 842px #767676 , 706px 411px #767676 , 1319px 837px #767676 , 1705px 449px #767676 , 323px 1589px #767676 , 345px 350px #767676 , 1076px 472px #767676 , 713px 1190px #767676 , 1132px 1261px #767676 , 1123px 484px #767676 , 822px 1156px #767676 , 1170px 1548px #767676 , 1389px 1833px #767676 , 1258px 519px #767676 , 1619px 544px #767676 , 1436px 386px #767676 , 1545px 8px #767676 , 1271px 1841px #767676 , 1917px 295px #767676 , 380px 49px #767676 , 1380px 285px #767676 , 495px 181px #767676 , 672px 1677px #767676 , 1008px 1091px #767676 , 528px 966px #767676 , 850px 1316px #767676 , 929px 431px #767676 , 1729px 1827px #767676 , 1076px 748px #767676 , 1735px 745px #767676 , 1050px 617px #767676 , 471px 132px #767676 , 1033px 1030px #767676 , 1313px 803px #767676 , 868px 1478px #767676 , 1611px 494px #767676 , 388px 1806px #767676 , 243px 104px #767676 , 1978px 544px #767676 , 1189px 1085px #767676 , 690px 125px #767676 , 338px 23px #767676 , 1824px 141px #767676 , 1927px 976px #767676 , 1820px 1697px #767676 , 1979px 1541px #767676 , 1140px 998px #767676 , 205px 427px #767676 , 1023px 1106px #767676 , 872px 705px #767676 , 1098px 802px #767676 , 946px 1518px #767676 , 137px 960px #767676 , 479px 1180px #767676 , 1295px 1817px #767676 , 1538px 1059px #767676 , 1125px 1924px #767676 , 650px 1134px #767676 , 1233px 207px #767676 , 1315px 51px #767676 , 931px 1191px #767676 , 129px 1767px #767676 , 1222px 1772px #767676 , 1647px 1695px #767676 , 1878px 1257px #767676 , 927px 1250px #767676 , 391px 1533px #767676 , 1932px 239px #767676 , 167px 959px #767676 , 656px 1837px #767676 , 1821px 688px #767676;
    border-radius: 100%;
}

@keyframes starsAnimation {
    from {
        transform: translateY(-2000px);
    }
    to {
        transform: translateY(0px);
    }
}

/********
 메인 빌딩
화면 일러스트
**********/

.illustration {
    height: 25rem;
    width: 25rem;
    margin: auto;
    margin-top: 50px;
    position: absolute;
    background: #F6F5FE;
    border-radius: 50%;
    animation: balloon 2s forwards infinite;
}

.ground {
    border: 3px solid #7548D6;
    position: absolute;
    top: 350px;
    left: 100px;
    border-radius: 5px;
    animation: ground-anim 3s forwards infinite;
}

.ground-one {
    height: 0px;
    border: 2px solid #7548D6;
    position: absolute;
    top: 380px;
    left: 130px;
    border-radius: 5px;
    animation: ground-one-anim 3s forwards infinite;
}

.building-left {
    width: 60px;
    border-left: 3px solid #e8dcf9;
    position: absolute;
    top: 230px;
    left: 140px;
    background: #e8dcf9;
    animation: building-left 3s forwards infinite;
}
.building-left .top {
    border: 2px solid #e8dcf9;
    position: absolute;
    top: -2px;
    left: -13px;
    border-radius: 5px;
    animation: building-left-top 3s forwards infinite;
}

.building {
    width: 75px;
    border: 3px solid #7548D6;
    border-bottom: none;
    border-top: none;
    position: absolute;
    top: 150px;
    left: 200px;
    animation: building 3s forwards infinite;
}
.building .top {
    border: 2px solid #7548D6;
    position: absolute;
    top: -2px;
    left: -17px;
    border-radius: 5px;
    animation: building-top 3s forwards infinite;
}

@keyframes building {
    0% {
        height: 0px;
    }
    50%, 80%, 100% {
        height: 200px;
    }
}
@keyframes building-top {
    0% {
        width: 0px;
    }
    50%, 80%, 100% {
        width: 106px;
    }
}
@keyframes ground-anim {
    0% {
        width: 0px;
    }
    50%, 80%, 100% {
        width: 500px;
    }
}
@keyframes ground-one-anim {
    0% {
        width: 0px;
    }
    50%, 80%, 100% {
        width: 40px;
    }
}
@keyframes building-left {
    0% {
        height: 0px;
    }
    50%, 80%, 100% {
        height: 120px;
    }
}
@keyframes building-left-top {
    0% {
        width: 0px;
    }
    50%, 80%, 100% {
        width: 70px;
    }
}
.window, .window-8, .window-7, .window-6, .window-5, .window-4, .window-3, .window-2, .window-1 {
    height: 7px;
    border: 2px solid #7548D6;
    background: #ede1ca;
    position: absolute;
    border-radius: 2px;
    animation: windows 3s forwards infinite;
}

.window-1 {
    top: 20px;
    left: 20px;
}

.window-2 {
    top: 40px;
    right: 21px;
}

.window-3 {
    top: 60px;
    left: 20px;
}

.window-4 {
    top: 80px;
    right: 21px;
}

.window-5 {
    top: 100px;
    left: 20px;
}

.window-6 {
    top: 120px;
    right: 21px;
}

.window-7 {
    top: 140px;
    left: 20px;
}

.window-8 {
    top: 160px;
    right: 21px;
}

@keyframes windows {
    0% {
        width: 0px;
    }
    50%, 80%, 100% {
        width: 30px;
    }
}
.building-right {
    width: 60px;
    border-left: 3px solid #e8dcf9;
    position: absolute;
    top: 190px;
    right: 160px;
    background: #e8dcf9;
    animation: building-right 3s forwards infinite;
}
.building-right .top {
    border: 2px solid #e8dcf9;
    position: absolute;
    top: -2px;
    right: -11px;
    border-radius: 5px;
    animation: building-right-top 3s forwards infinite;
}

@keyframes building-right {
    0% {
        height: 0px;
    }
    50%, 80%, 100% {
        height: 160px;
    }
}
@keyframes building-right-top {
    0% {
        width: 0px;
    }
    50%, 80%, 100% {
        width: 70px;
    }
}
.bush, .bush-three, .bush-two, .bush-one {
    z-index: 2;
    background: #5adda0;
    width: 40px;
    height: 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: absolute;
    top: 330px;
    animation: bush 3s forwards infinite;
}

.bush-one {
    left: 120px;
}

.bush-two {
    right: 160px;
}

.bush-three {
    height: 30px;
    top: 320px;
    right: 140px;
}

.stem-one {
    height: 60px;
    width: 0px;
    border: 2px solid #7548D6;
    position: absolute;
    top: 280px;
    left: 136px;
    animation: bush 3s forwards infinite;
}
.stem-one .branch {
    height: 15px;
    width: 0px;
    border: 2px solid #7548D6;
    position: absolute;
    transform: rotate(40deg);
    left: 5px;
    z-index: 3;
}
.stem-one .leaves-one {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #5adda0;
    position: absolute;
    left: -20px;
    top: -45px;
}
.stem-one .leaves-two {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #5adda0;
    position: absolute;
    left: -13px;
    top: -60px;
}

@keyframes bush {
    0% {
        transform: scale(0);
    }
    50%, 80%, 100% {
        transform: scale(1);
    }
}
.balloon {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 60px;
    left: 100px;
    animation: balloon 3s forwards infinite;
}
.balloon .head {
    width: 40px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    background: #df96f6;
}
.balloon .base {
    width: 7px;
    height: 7px;
    position: absolute;
    top: 47px;
    left: 28px;
    background: #df96f6;
}

@keyframes balloon {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}


/*
* 메인 설정
/
 */
.mainTextDiv{
    height: 25rem;
    width: 25rem;
    padding:1rem;
    text-align:right;
    padding-top:7rem;
}

.mainTextDiv > h1{
    font-size:2.8rem;
    font-weight:800;
    color:#333;
}
.textSlide{
    color:#7548D6;
    font-size:3rem;
    font-weight:900;
}
.textSlide:after {
    content:"고양이랑 놀아주고";
    animation: spin 8s linear infinite;
    text-shadow: 1px 1px 2px #444;
}
@keyframes spin {
    0% { content:"고양이랑 놀아주고";}
    15% { content:"전등교체 도와주고";}
    30% { content:"짐 맡아주고"}
    45% { content:"물건 옮겨주고";}
    60% { content: "일일 기사님으로";}
    75% { content: "장바구니 들어주고"; }
    90% { content: "일일 보디가드로"; }
}

.mainjoinBtn {
    background-color:#7548D6 !important;
    border-color:#fff !important;
    font-size:1.1rem !important;
    padding:1rem !important;
    font-weight:700 !important;
    color:#fff !important;
}


.mainjoinBtn:hover {
    background-color:#FF7000 !important;
    border-color:#fff !important;
    font-size:1.1rem !important;
    padding:1rem !important;
    font-weight:700 !important;
    color:#fff !important;
}

.mainjobBtn {
    background-color:#fff !important;
    border-color:lightgrey !important;
    font-size:1.1rem !important;
    padding:1rem !important;
    font-weight:700 !important;
    color:#111 !important;
}
.mainjobBtn:hover {
    background-color:#FF7000 !important;
    border-color:#fff !important;
    font-size:1.1rem !important;
    padding:1rem !important;
    font-weight:700 !important;
    color:#fff !important;
}

.section1{
    margin-top:13rem;
    margin-bottom:5rem;
    height:43rem;
    background-color: #7548D6;
    color:white;
}
.section1TextDiv{
    text-align: center;
}
.section1TextDiv > h3{
    text-align: center;
}
.section1TextDiv > p {
    text-align: center;
    font-size:1.5rem;
    font-weight: 300;
}

.section1TextDiv > a {
    text-align: center;
    font-weight:500;
    font-size:1rem;
    color:#fff;
    text-shadow: 1px 1px 2px #444;
}
.section1TextDiv > a:hover {
    text-align: center;
    font-weight:500;
    font-size:1rem;
    color:#fff;
    text-decoration: none;
    text-shadow: 1px 1px 2px white;
}
.section1TextDiv > h4:nth-child(1):before {
    content: "";
    position: absolute;
    background-color: #222;
    width: 7%;
    height: 5px;
    top: 45%;
    left: 47%;
    z-index: -1;
}


/*****
카드 디자인을위한 css
********/

