@font-face {
  font-family: "eland-300";         
  src: url("./fonts/eland/ELAND-L.ttf");
}
@font-face {
  font-family: "eland-500";         
  src: url("./fonts/eland/ELAND-M.ttf");
}
@font-face {
  font-family: "eland-700";         
  src: url("./fonts/eland/ELAND-B.ttf");
}

@font-face {
  font-family: "gmarket-300";         
  src: url("./fonts/gmarket/GmarketSansTTFLight.ttf");
}
@font-face {
  font-family: "gmarket-500";         
  src: url("./fonts/gmarket/GmarketSansTTFMedium.ttf");
}
@font-face {
  font-family: "gmarket-700";         
  src: url("./fonts/gmarket/GmarketSansTTFBold.ttf");
}
@font-face {
  font-family: "jalnan";
  src: url("./fonts/Jalnan.ttf"); 
}

@font-face {
  font-family: "samlib-basic";
  src: url("./fonts/samlib/SDSamliphopangcheTTFBasic.ttf"); 
}
@font-face {
  font-family: "samlib-outline";
  src: url("./fonts/samlib/SDSamliphopangcheTTFOutline.ttf"); 
}


html,body {
  width:100%;
  height:100%;
  margin: 0;
  padding:0;
  font-family: "gmarket-500";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
